/* Needs no processing. */
html {
  font-size: 62.5%;
}

/* PreCSS - Variable use */
body {
  $white: #fff;
  background: $white;
  font-size: 12px;
}

/* PreCSS - Nesting */
header {
  img {
    display: inline-block;
  }
  h1 {
    font-size: 24px;
  }
}

/* PostCSS Utils */
.clearfix {
  @utils-clearfix;
  border-width: 1px;
}

/* Autoprefixer (included in CSSNext) */
.autoprefixed {
  border-radius: 3px;
  display: flex;
  opacity: 0.5;

}

/* CSSNext */
.red-overlay {
  background: color(red alpha(-50%));
}

.MY_CrazY_SeLECtor {
  DISPLAY: fLeX;
  FoNT_SIZe: 16px;
  MARgin_LEft: 4REM;
}
